services:
  nginx:
    image: nginx:latest
    container_name: nginx
    network_mode: "host"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./websocket.conf:/etc/nginx/conf.d/websocket.conf
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    #    ports:  # Expose ports 80 and 443 if not running in host mode
    #      - "80:80"
    #      - "443:443"
    depends_on:
      - certbot

  certbot:
    image: certbot/dns-cloudflare # Certbot with Cloudflare DNS plugin
    container_name: certbot
    network_mode: "host"
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
      - ./cloudflare.ini:/etc/letsencrypt/cloudflare.ini # Cloudflare credentials
    entrypoint: > # Right off the bat we'll request certs of our domains
      /bin/sh -c "
      certbot certonly --non-interactive --quiet --dns-cloudflare --dns-cloudflare-credentials /etc/letsencrypt/cloudflare.ini \
      --email ${EMAIL} --agree-tos --no-eff-email --expand \
      --domains '*.local.mydomain.com' --domains '*.tail.mydomain.com';
      # Here we'll sleep 24 hours and call the renew function
      while :; do  
        sleep 24h;
        certbot renew --non-interactive --dns-cloudflare --dns-cloudflare-credentials /etc/letsencrypt/cloudflare.ini;
      done"
