services:
  wordpress:
    image: ${WORDPRESS_IMAGE_TAG}
    volumes:
      # - wordpress-data:/bitnami/wordpress
      - ./config:/bitnami/wordpress
      # /opt/bitnami/php/bin/php
    environment:
      WORDPRESS_DATABASE_HOST: global_mariadb
      WORDPRESS_DATABASE_PORT_NUMBER: 3306
      WORDPRESS_DATABASE_NAME: ${WORDPRESS_DB_NAME}
      WORDPRESS_DATABASE_USER: ${WORDPRESS_DB_USER}
      WORDPRESS_DATABASE_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      WORDPRESS_TABLE_PREFIX: ${WORDPRESS_TABLE_PREFIX}
      WORDPRESS_BLOG_NAME: ${WORDPRESS_BLOG_NAME}
      WORDPRESS_FIRST_NAME: ${WORDPRESS_ADMIN_NAME}
      WORDPRESS_LAST_NAME: ${WORDPRESS_ADMIN_LASTNAME}
      WORDPRESS_USERNAME: ${WORDPRESS_ADMIN_USERNAME}
      WORDPRESS_PASSWORD: ${WORDPRESS_ADMIN_PASSWORD}
      WORDPRESS_EMAIL: ${WORDPRESS_ADMIN_EMAIL}
      WP_HOME_URL: ${WORDPRESS_HOME_URL}
      WP_SITE_URL: ${WORDPRESS_HOME_URL}
      # WORDPRESS_SMTP_HOST: ${WORDPRESS_SMTP_ADDRESS}
      # WORDPRESS_SMTP_PORT: ${WORDPRESS_SMTP_PORT}
      # WORDPRESS_SMTP_USER: ${WORDPRESS_SMTP_USER_NAME}
      # WORDPRESS_SMTP_PASSWORD: ${WORDPRESS_SMTP_PASSWORD}
    networks:
      - global_db_management_network
    healthcheck:
      test: timeout 10s bash -c ':> /dev/tcp/127.0.0.1/8080' || exit 1
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 90s
    restart: unless-stopped
    ports:
      - 8888:8080
    depends_on:
      mariadb:
        condition: service_healthy

# volumes:
#   wordpress-data:
#     name: wordpress-data

networks:
  global_db_management_network:
    external: true

  # wp-db-backup:
  #   container_name: wp-db-backup
  #   image: tiredofit/db-backup
  #   volumes:
  #     - ./backups:/backup
  #   restart: unless-stopped
  #   environment:
  #     DB_TYPE: mysql
  #     DB_HOST: wp-db
  #     DB_NAME: ${DB_NAME}
  #     DB_USER: ${DB_USER}
  #     DB_PASS: ${DB_PASSWORD}
  #     DB_BACKUP_INTERVAL: 720
  #     DB_CLEANUP_TIME: 72000
  #     #DB_BACKUP_BEGIN: 1
  #     CHECKSUM: SHA1
  #     COMPRESSION: GZ
  #     CONTAINER_ENABLE_MONITORING: false
  #   depends_on:
  #     - wp-db
